<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daytoday.business.dailydelivery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"

        android:theme="@style/SplashTheme">
        <activity android:name=".LoginActivity.EmailSignUpActivity"></activity>
        <activity android:name=".LoginActivity.AdditionalInfoActivity" />
        <activity android:name=".MainHomeScreen.UI.QrCodeActivity" />

        <activity android:name=".MainHomeScreen.UI.SingleBusinessDetail" />
        <activity android:name=".MainHomeScreen.UI.CalenderActivity" />
        <activity android:name=".MainHomeScreen.View.CustomerActivity" />
        <activity
            android:name=".MainHomeScreen.UI.BusinessDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainHomeScreen.UI.BusinessAddition"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainHomeScreen.UI.EmpInfoActivity" />
        <activity
            android:name=".MainHomeScreen.View.HomeScreenActivity"
            android:theme="@style/SplashTheme.NoActionBarNavBar" />
        <activity android:name=".WalkThrough.WalkThroughActivity" />
        <activity android:name=".BasicUI.BlankActivity" />
        <activity android:name=".LoginActivity.LoginPageActivity" />
        <activity android:name=".LoginActivity.OtpVerificationActivity" />
        <activity android:name=".LoginActivity.PhoneVerification" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".BasicUI.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <service android:name=".Utilities.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>