<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daytoday.business.dailydelivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">

        <activity android:name=".MainHomeScreen.CalenderActivity"></activity>
        <activity android:name=".MainHomeScreen.CustomerActivity" />
        <activity android:name=".MainHomeScreen.BusinessDetailActivity" />

        <activity android:name=".MainHomeScreen.BusinessAddition"
            ></activity>

        <activity android:name=".MainHomeScreen.EmpInfoActivity" />
        <activity
            android:name=".MainHomeScreen.HomeScreen"
            android:theme="@style/SplashTheme.NoActionBarNavBar" />
        <activity android:name=".WalkThrough.WalkThroughActivity" />
        <activity android:name=".BlankActivity" />
        <activity android:name=".LoginActivity.LoginPage" />
        <activity android:name=".LoginActivity.OtpVerification" />
        <activity android:name=".LoginActivity.PhoneVerification" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>

</manifest>